body {
  min-width: 37.5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 4rem;

  background: url('../images/pattern-hills.svg'), url('../images/bg-stars.svg'),
    linear-gradient(var(--very-dark-blue), var(--dark-blue));
  background-repeat: no-repeat;
  background-position: bottom right;
}

@media only screen and (min-width: 89em) {
  body {
    background-size: 100%;
  }
}
